{:deps {tailrecursion/cljs-priority-map {:mvn/version "1.2.1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {org.clojure/clojurescript       {:mvn/version "1.11.54"}}
         :main-opts   ["-m" "cljs.main"
                       "-c" "cljs.cache-test"
                       "-r"]}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
          :ns-default build}}}
